.DS_Store
*.vim
*.swp
build/*
*~
.idea
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.iml
*.pyc
target
#Start of eclipse and jooq config files
.project
.settings/
.classpath
agent-avro-model/.classpath
agent-avro-model/.project
agent-avro-model/.settings/
agent-simulator/.classpath
agent-simulator/.project
agent-simulator/.settings/
avro-file/.classpath
avro-file/.project
avro-file/.settings/
collector/.classpath
collector/.project
collector/.settings/
db-loader/.classpath
db-loader/.project
db-loader/.settings/
jooq/.project
jooq/.settings/
jooq/schemagen/.classpath
jooq/schemagen/.project
jooq/schemagen/.settings/
jooq/tablegen/.classpath
jooq/tablegen/.project
jooq/tablegen/.settings/
protobufs/.classpath
protobufs/.project
protobufs/.settings/
s3-loader/.classpath
s3-loader/.project
s3-loader/.settings/
server/.classpath
server/.project
server/.settings/
snowflake-jdbc/.classpath
snowflake-jdbc/.project
snowflake-jdbc/.settings/
util/.project
util/.settings/
util/database/.classpath
util/database/.project
util/database/.settings/
util/validation/.classpath
util/validation/.project
util/validation/.settings/
util/properties/.classpath
util/properties/.project
util/properties/.settings/
util/cipher/.classpath
util/cipher/.project
util/cipher/.settings/
util/misc/.classpath
util/misc/.project
util/misc/.settings/
#End of eclipse and jooq config files
#End of eclipse and jooq config files
